<ion-view title="Manage cohorts" >

   <ion-nav-buttons side="left" class="has-header">
    <button class="button button-icon icon ion-arrow-left-c" ng-click='backToHome()'></button>
  </ion-nav-buttons>
  <ion-nav-buttons side="right" class="has-header">
    <button class="button button-icon icon No Icon"></button>
  </ion-nav-buttons>
  <ion-content padding="true" class="has-header" style="background-color: #7ec9f8;">
  <div class="card" id="register-card">
    <div class="item">
      <div class="spacer" style="height: 16px;"></div>
      <p class="title-name" style="text-align: center; font-size: 19px;">{{currentProgram.name}}</p>
      <div class="spacer" style="height: 16px;"></div>



      <div ng-repeat="cohort in All_Cohorts" >

      <div class="card list">
        <!-- <h2><strong>{{cohort.name}}</strong></h2> -->
        <p>Cohort ID: {{cohort.cohortId}}</p>
        <p>Cohort Size: {{cohort.cohortSize}}</p>
        <p>Open Date: {{cohort.openDate}}</p>
        <p>Close Date: {{cohort.closeDate}}</p>
        <p>Match Date: {{cohort.matchDate}}</p>
        <a class="button button-block button-positive button-outline" ng-click="ModifyCohort(cohort.cohortId)" > Modify it</a>
        <a class="button button-block button-assertive button-outline" ng-click="DeleteCohort(cohort.cohortId)" >Delete it</a>
       

      </div>
      </div>


      <form id="register-form100" name="registerform" >  <!-- 表单 -->
        <!-- card -->
        <div class="card list" >
          <ion-list id="register-list100">
            <h2><strong>Add new cohort</strong></h2>
            <label class="item item-input" id="create-input100">
              <span class="input-label">cohortSize</span>
              <input type="text" placeholder="in number" ng-model=cohort.size required="true"> <!--  testing -->
            </label>
            <label class="item item-input" id="create-input200">
              <span class="input-label">Open Date</span>
              <input type="date" placeholder="" ng-model=cohort.openDate required="true">
            </label>
            <label class="item item-input" id="create-input300">
              <span class="input-label">Close Date</span>
              <input type="date" placeholder="" ng-model=cohort.closeDate required="true">
            </label>
            <label class="item item-input" id="create-input400">
              <span class="input-label">Match Date</span>
              <input type="date" placeholder="" ng-model=cohort.matchDate required="true">
            </label>

        </div>  <!-- 结束card -->

        <a id="create-button1" class="button button-positive button-block" ng-click="AddCohort()" ng-disabled="registerform.$invalid" >Add it</a>
       
        </ion-list>
      </form>


    </div>
  </div>


  </ion-content>
</ion-view>