<ion-view title="Home" id="page8">
  <ion-content padding="true" class="has-header">
    <div class="list card" id="home-card22">
      <h4 id="home-heading1" style="color:#000000;">You're participating in:</h4>
      <ion-item class="item-thumbnail-left" id="home-list-item7" ui-sref="learnFasterMentoring">
        <h2>Learn Faster Mentoring</h2>
        <p>short description for this program</p>
      </ion-item>
    </div>
    <div class="list card" id="home-card25">
      <h4 id="home-heading14" style="color:#000000;">You can register for:</h4>
      <ion-item class="item-thumbnail-left" id="home-list-item11">
        <h2>Accelerate Talent </h2>
        <p>short description for this program</p>
      </ion-item>
      <ion-item class="item-thumbnail-left" id="home-list-item12">
        <h2>Managed Services talent</h2>
        <p>short description for this program</p>
      </ion-item>
    </div>
  </ion-content>
</ion-view>