<ion-view title={{program.name}} id="page9">
  <ion-nav-buttons side="left" class="has-header">
    <button class="button button-icon icon ion-arrow-left-c" ng-click='getback()'></button>
  </ion-nav-buttons>
  <ion-content class="has-header">
    <div class="program-banner" style="top:-10px;">  
      <img ng-src='img/program-banner.jpg' />    
      <div class='program-caption'>    
        <p class='program-caption-content'>What is Learn Faster Mentoring?</p>    
      </div>   
    </div>
    <div class="program-description-section" style="padding: 20px;">
      <h4 id="learnFasterMentoring-heading15" style="color:#000000;">Description</h4>
      <div id="learnFasterMentoring-markdown10" class="show-list-numbers-and-dots">
        <p style="color:#000000;" dd-text-collapse dd-text-collapse-max-length="350" dd-text-collapse-text="{{ program.description }}"></p>
      </div>
      <div class="list">
        <p class="item item-icon-left">
          <i class="icon ion-ios-people"></i><span style="font-weight: bold;">Default Cohort Size</span><span class="badge badge-assertive">{{ program.defaultCohortSize}}</span> 
        </p>
      </div>
      <div class="box-positive" style="text-align: center;">Created by: {{program.createdBy.first_name}} {{program.createdBy.last_name}} ({{program.createdBy.email}})</div>
      <a style="margin-top: 20px;" ng-click="goregisterProgram()" id="learnFasterMentoring-button59" class="button button-block button-positive">Register here!</a>
    </div>
  </ion-content>
</ion-view>

