<ion-view title="Learn Faster Mentoring" id="page9">
  <ion-content padding="true" class="has-header">
    <h4 id="learnFasterMentoring-heading15" style="color:#000000;">Description</h4>
    <div id="learnFasterMentoring-markdown10" class="show-list-numbers-and-dots">
      <p style="color:#000000;">This is a programme open to all Atos UK&amp;I staff (9000 people). Anyone can offer themselves as a mentor or request mentoring. It is the main use of the App. We are planning to open the offer for mentoring every quarter. You can request mentoring
        on up to 2 topics, but you can offer it on a wider range. If people need mentoring on more than 2 topics they should finish the mentoring on their top 2 proprieties and then go back and request another mentor in a later quarter, so they can do
        this as often as they like. As it is based around expertise and need it doesn’t matter if the mentor is more junior than the mentee, it’s all about what people know. Mentors should not have more than 2 mentees. Mentees should only have one mentor
        at a time from this scheme</p>
    </div>
    <h4 id="learnFasterMentoring-heading9" style="color:#000000;">capacity remained</h4>
    <form id="learnFasterMentoring-form8" class="list">
      <label class="item item-input" id="learnFasterMentoring-input16">
        <span class="input-label">1</span>
        <input type="text" placeholder="">
      </label>
    </form>
    <a ui-sref="registerProgram" id="learnFasterMentoring-button59" class="button button-dark  button-block">Register here!</a>
  </ion-content>
</ion-view>