<ion-view title={{program.name}} id="page9">
  <ion-nav-buttons side="left" class="has-header">
    <button class="button button-icon icon ion-arrow-left-c" ng-click='getback()'></button>
  </ion-nav-buttons>
  <ion-content class="has-header">
    <div class="program-banner" style="top:-10px;">  
      <img ng-src='img/accelerate-program.jpg' />    
      <div class='program-caption'>    
        <p class='program-caption-content'>What is Learn Faster Mentoring?</p>    
      </div>   
    </div>
    <div class="program-description-section">
      <h4 id="learnFasterMentoring-heading15" style="color:#000000;">Description</h4>
      <div id="learnFasterMentoring-markdown10" class="show-list-numbers-and-dots">
        <!-- <p style="color:#000000;">{{description}}</p> -->
        <p style="color:#000000;" dd-text-collapse dd-text-collapse-max-length="350" dd-text-collapse-text="{{ program.description }}"></p>
      </div>
      <!-- <div class="list">
        <p class="item item-icon-left">
          <i class="icon ion-ios-people"></i><span style="font-weight: bold;">Remaining Spots</span><span class="badge badge-assertive">5</span> 
        </p>
      </div> -->
      <!-- <h4 id="learnFasterMentoring-heading9" style="color:#000000;">Remaining Spaces</h4>
      <form id="learnFasterMentoring-form8" class="list">
        <label class="item item-input" id="learnFasterMentoring-input16">
          <span class="input-label">1</span>
          <input type="text" placeholder="">
        </label>
      </form> -->
      <a ng-click="goregisterProgram()" id="learnFasterMentoring-button59" class="button button-block button-positive">Register here!</a>
    </div>
  </ion-content>
</ion-view>

