<ion-view title="Login" id="page6">
  <ion-nav-buttons side="left" class="has-header">
    <button class="button button-icon icon No Icon"></button>
  </ion-nav-buttons>
  <ion-nav-buttons side="right" class="has-header">
    <button class="button button-icon icon No Icon"></button>
  </ion-nav-buttons>
  <ion-content padding="true" class="has-header" style="background-color: #7ec9f8;">
    <div class="card">
      <div class="item">
      <div class="spacer" style="height: 15px;"></div>
      <p class="title-name" style="text-align: center; font-size: 24px;">ATOS Mentor Match</p>
      <p class="title-name" style="text-align: center; color: red; margin-top: 10px;">{{errorMsg}}</p>
      <div class="spacer" style="height: 15px;"></div>
        <form id="login-form4">
          <div class="list card">
            <label class="item item-input" id="login-input10">
              <span class="input-label">Email Address</span>
              <input type="email" placeholder="" ng-model="loginuser.emailaddress" required="true">
            </label>
            <label class="item item-input" id="login-input11">
              <span class="input-label">Password</span>
              <input type="password" placeholder="" ng-model="loginuser.password" required="true">
            </label>
          </div>  
          <div class="spacer" style="height: 40px;"></div>
          <button id="login-button3" class="button button-positive button-block" ng-click="loginctl()">Log in</button>
          <a ui-sref="register" id="login-button4" class="button button-positive  button-block button-clear">Don't have an account? Register here!</a>
        </form>
      </div>
    </div>
  </ion-content>
</ion-view>