<ion-view title="Modify Cohort" >

   <ion-nav-buttons side="left" class="has-header">
    <button class="button button-icon icon ion-arrow-left-c" ng-click='backToManageCohort()'></button>
  </ion-nav-buttons>
  <ion-nav-buttons side="right" class="has-header">
    <button class="button button-icon icon No Icon"></button>
  </ion-nav-buttons>
  <ion-content padding="true" class="has-header" style="background-color: #7ec9f8;">
  <div class="card" id="register-card">
    <div class="item">
      <div class="spacer" style="height: 16px;"></div>
      <p class="title-name" style="text-align: center; font-size: 19px;">ATOS Mentor Match</p>
      <div class="spacer" style="height: 16px;"></div>


      <form id="register-form1" name="registerform" >  <!-- 表单 -->
        <!-- card -->
        <div class="card list" >
          <ion-list id="register-list1">
           
          <label class="item item-input" id="create-input100">
              <span class="input-label">Cohort Size</span>
              <input type="text" placeholder="in number" ng-model=cohort.size required="true"> 
            </label>
            <label class="item item-input" id="create-input200">
              <span class="input-label">Open Date</span>
              <input type="date" placeholder="" ng-model=cohort.openDate required="true">
            </label>
            <label class="item item-input" id="create-input300">
              <span class="input-label">Close Date</span>
              <input type="date" placeholder="" ng-model=cohort.closeDate required="true">
            </label>
            <label class="item item-input" id="create-input400">
              <span class="input-label">Match Date</span>
              <input type="date" min="{{cohort.openDate | date:'yyyy-MM-dd'}}" max="{{cohort.closeDate | date:'yyyy-MM-dd'}}" placeholder="" ng-model=cohort.matchDate required="true">
            </label>  

        </div>  <!-- 结束card -->

        <a id="create-button1" class="button button-positive button-block" ng-click="Approve()" ng-disabled="registerform.$invalid" >Save</a>
        </ion-list>
      </form>


    </div>
  </div>


  </ion-content>
</ion-view>