<ion-view title="My Mentors" id="page12">
  <ion-nav-buttons side="left" class="has-header">
    <button class="button button-icon icon ion-arrow-left-c" ng-click='getback()'></button>
  </ion-nav-buttons>
  <ion-content padding="true" class="has-header">
    <div ng-if="!noMentors">
      <div ng-repeat="mentor in mentors" class="list card" id="myMentors-card23">
        <a class="item item-avatar" href="">
          <img src="https://cdn2.iconfinder.com/data/icons/ios-7-icons/50/user_male2-512.png">
          <h2>{{mentor.user.first_name}} {{mentor.user.last_name}}</h2>
          <p>{{mentor.user.profile.position}}</p>
        </a>
      </div>
    </div>
    <div class="card" id="home-card22" ng-if="noMentors">
      <div class="item item-divider" style="background-color: #cfdef8;">
        Your Mentors
      </div>
      <div class="item item-text-wrap">
        <p style="text-align: center; font-size: 40px;"><i class="icon ion-load-a"></i></p>
        <p style="text-align: center;">You currently have no mentors!</p>
        <p style="text-align: center;">You might not have been paired yet. Please try again later!</p>
      </div>
    </div>    
  </ion-content>
</ion-view>