<ion-view title="My Mentees" id="page13">
  <ion-nav-buttons side="left" class="has-header">
    <button class="button button-icon icon ion-arrow-left-c" ng-click='getback()'></button>
  </ion-nav-buttons>
  <ion-content padding="true" class="has-header">
    <div class="list card" id="myMentors-card23">
      <a class="item item-avatar" href="">
        <img src="https://cdn2.iconfinder.com/data/icons/ios-7-icons/50/user_male2-512.png">
        <h2>Christopher Lau</h2>
        <p>Student Intern at ATOS</p>
      </a>
    </div>
    <div class="list card" id="myMentors-card24">
      <a class="item item-avatar">
        <img src="https://cdn2.iconfinder.com/data/icons/ios-7-icons/50/user_male2-512.png">
        <h2>Collin Wong</h2>
        <p>I am currently the General Sales Manager in ATOS</p>
      </a>  
    </div>
  </ion-content>
</ion-view>