<ion-view title="My Mentees" id="page13">
  <ion-nav-buttons side="left" class="has-header">
    <button class="button button-icon icon ion-arrow-left-c" ng-click='getback()'></button>
  </ion-nav-buttons>
  <ion-content padding="true" class="has-header">
    <div class="card" id="home-card22">
      <div class="item item-divider" style="background-color: #cfdef8;">
        Your Mentees
      </div>
      <div class="item item-text-wrap">
        <p style="text-align: center; font-size: 40px;"><i class="icon ion-load-a"></i></p>
        <p style="text-align: center;">You currently have no mentees!</p>
        <p style="text-align: center;">You might not have been paired yet. Please try again later!</p>
      </div>
    </div> 
  </ion-content>
</ion-view>