<ion-view title="Profile" id="page3">
  <ion-content padding="true" class="has-header">
    <h3 id="profile-heading2" style="color:#247994;">Mike Zhou</h3>
    <div class="item item-body" id="profile-list-item-container5">
      <div id="profile-markdown6" class="show-list-numbers-and-dots">
        <p style="margin-top:0px;color:#000000;">Current role:</p>
      </div>
      <div id="profile-markdown7" class="show-list-numbers-and-dots">
        <p style="margin-top:0px;color:#000000;">My Mentees:</p>
      </div>
    </div>
    <div class="item item-body" id="profile-list-item-container6">
      <div id="profile-markdown8" class="show-list-numbers-and-dots">
        <p style="margin-top:0px;color:#000000;">My Mentors:</p>
      </div>
      <div id="profile-markdown9" class="show-list-numbers-and-dots">
        <p style="margin-top:0px;color:#000000;">Goals:</p>
      </div>
    </div>
    <div class="item item-body" id="profile-list-item-container7">
      <div id="profile-markdown11" class="show-list-numbers-and-dots">
        <p style="margin-top:0px;color:#000000;">Skill 1:</p>
      </div>
      <div id="profile-markdown12" class="show-list-numbers-and-dots">
        <p style="margin-top:0px;color:#000000;">Skill 2:</p>
      </div>
    </div>
  </ion-content>
    <ion-tabs class="tabs-icon-top tabs-positive">
    <ion-tab ui-sref="home" title="Home" icon="ion-home"></ion-tab>
    <ion-tab ui-sref="profile" title="Profile" icon="ion-person"></ion-tab>
    <ion-tab title="Notifications" icon="ion-android-notifications" badge="3" badge style="badge-assertive" href=""></ion-tab>
  </ion-tabs>
</ion-view>