<ion-view title="Profile" id="page3">
  <ion-content class="has-header has-footer">
    <!-- Upper section of profile -->
    <div class="profile-upper-section">
      <img class="thumbnail" src="img/user-icon.jpg">
      <h4 style="color: white;" id="profile-heading2" >{{firstName}} {{lastName}}</h4>
      <h4 style="color: white;" id="profile-heading2" >{{email}}</h4>
      <p>{{userBio}}</p>
    </div>
    <div class="profile-lower-section" style="padding-bottom: 10px;">
      <div class="item item-body" id="profile-list-item-container5">
        <div id="profile-markdown6" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;"><strong>Position  </strong> <span class="box-positive">{{currentRole}}</span></p>
        </div>
      </div>
      <div class="item item-body" id="profile-list-item-container6">
        <div id="profile-markdown6" class="show-list-numbers-and-dots">
          <span ng-if="noEnrolledPrograms" >
            <p style="margin-top:0px;color:#000000;"><strong>Enrolled  </strong> <span style="color: red"> Currently not enrolled in a program </span></p>
          </span>
          <span ng-if="!noEnrolledPrograms"><p style="margin-top:0px;color:#000000;"><strong>Enrolled  </strong> <span class="box-positive" ng-repeat="item in enrolledPrograms">{{item}} </span></p></span>
        </div>
      </div>
      <div class="item item-body" id="profile-list-item-container7">
        <div id="profile-markdown6" class="show-list-numbers-and-dots">
          <span ng-show={{noMentors}} >
            <p style="margin-top:0px;color:#000000;"><strong>Mentors  </strong> Currently have no mentors.</p>
          </span>
          <p ng-hide={{noMentors}} style="margin-top:0px;color:#000000;"><strong>Mentors  </strong>  Currently no mentors.</p>
        </div>
      </div>
      <div class="item item-body" id="profile-list-item-container8">
        <div id="profile-markdown6" class="show-list-numbers-and-dots">
          <span ng-show={{noMentees}} >
            <p style="margin-top:0px;color:#000000;"><strong>Mentees  </strong> Currently have no mentees.</p>
          </span>
          <p ng-hide={{noMentees}} style="margin-top:0px;color:#000000;"><strong>Mentees  </strong>  Currently no mentees.</p>
        </div>
      </div>
      <p>{{tags}}</p>
<!--       <div class="item item-body" id="profile-list-item-container8">
        <div id="profile-markdown6" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">
            <strong>Skills: </strong> <span ng-repeat="item in skills" class="skillbox">{{item}}</span>
          </p>
        </div>
      </div>   -->
    </div>
  </ion-content>
  <ion-tabs class="tabs-icon-top tabs-positive">
    <ion-tab ui-sref="home" title="Home" icon="ion-home"></ion-tab>
    <ion-tab ui-sref="profile" title="Profile" icon="ion-person"></ion-tab>
    <ion-tab ui-sref="notifications" title="Notifications" icon="ion-android-notifications"></ion-tab>
  </ion-tabs>
</ion-view>