<ion-view title="Register" id="page5">
  <ion-nav-buttons side="left" class="has-header">
    <button class="button button-icon icon No Icon"></button>
  </ion-nav-buttons>
  <ion-nav-buttons side="right" class="has-header">
    <button class="button button-icon icon No Icon"></button>
  </ion-nav-buttons>
  <ion-content padding="true" class="has-header">
    <form id="register-form1" class="list" name="registerform" >  <!-- 表单 -->
      <ion-list id="register-list1">
        <label class="item item-input" id="register-input2">
          <span class="input-label">Your Name</span>
          <input type="text" placeholder="" ng-model=user.name > <!--  testing -->
        </label>
        <label class="item item-input" id="register-input9">
          <span class="input-label">Email Address</span>
          <input type="email" placeholder="" ng-model=user.email >
        </label>
        <label class="item item-input" id="register-input3">
          <span class="input-label">Password</span>
          <input type="password" placeholder="" ng-model=user.password>
        </label>
        <label class="item item-input" id="register-input12">
          <span class="input-label">Repeat Password</span>
          <input type="password" placeholder="" ng-model=user.repeatpassword>
        </label>
        <label class="item item-input" id="register-input1">
          <span class="input-label">Position</span>
          <input type="text" placeholder="What you do at Atos." ng-model=user.position>
        </label>
        <label class="item item-input" id="register-input8">
          <span class="input-label">Join Date</span>
          <input type="date" placeholder="" ng-model=join_date>
        </label>
        <label class="item item-input" id="register-textarea2">
          <span class="input-label">Bio</span><textarea placeholder="Tell us about you and your interests." ng-model=bio></textarea></label>
      </ion-list>
    </form>
    <a ui-sref="login" id="register-button1" class="button button-stable  button-block" ng-click="submit()" ng-disabled="registerform.$invalid"  >Register</a>
  </ion-content>
</ion-view>