<ion-view title="Your Interests" id="page11">
  <ion-nav-buttons side="left" class="has-header">
    <button class="button button-icon icon ion-arrow-left-c" ng-click='getback()'></button>
  </ion-nav-buttons>
  <ion-content padding="true" class="has-header">

    <h5>Interests</h5>
    <ion-checkbox ng-repeat="interests in test1" value="{{interests}}" ng-click="toggleSelection(interests)" ng-checked="selection.indexOf(interests)>-1">{{interests}}</ion-checkbox>


    <div class="spacer" style="width: 300px; height: 41px;"></div>
    <h5 id="yourInterests-heading12" style="color:#000000;">Contact types</h5>
    

    <ion-radio ng-repeat="item in Interests"
               ng-value="item.value"
               ng-model="Interests_Preference.data"
               name="InterestsTest"
               ng-change="Interests_Change(item)">
      {{ item.text }}
    </ion-radio>



    <div class="spacer" style="width: 300px; height: 35px;"></div>
    <h5 id="yourInterests-heading13" style="color:#000000;">For mentors only</h5>
    <form id="yourInterests-form17" class="list">
      <label class="item item-input" id="yourInterests-input23">
        <span class="input-label">How many meetings per week:</span>
        <input type="text" placeholder="" ng-model="temp.times_perweek">
      </label>
    </form>
  </ion-content>
</ion-view>