/* Empty. Add your own CSS if you like */

.thumbnail{
	border-radius: 200px;
    width: 150px;
    height: 150px;
    background-size: 200px;
    background-position: right;
    border: 5px solid white;
}

.profile-upper-section{
	color: white;
	text-align: center;
	padding: 15px;
	background: #a09ac0;
	background: -webkit-linear-gradient(to left, #a09ac0  , #1ce);
	background: linear-gradient(to left, #a09ac0  , #1ce);         
}

#side-menu-upper-section{
	background: #a09ac0;
	background: -webkit-linear-gradient(to left, #a09ac0  , #1ce);
	background: linear-gradient(to left, #a09ac0  , #1ce);  
}

.skillbox{
	border:1px solid red;
	border-radius: 3px;
	color: red;
	padding: 8px;
}
